/* Estilo Geral */
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #1a1a1a;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: blue;
  text-decoration: none;
}

.nav-link {
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: blue;
}

.navbar-toggler {
  border: 1px solid #fff;
  margin-right: 10px;
  padding: 0.25rem 0.75rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Carrinho e Login */
.cart-icon-container,
.login-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.cart-icon-container {
  position: relative;
  justify-content: flex-end;
}

.cart-widget {
  color: #fff;
  font-size: 1.2rem;
  position: relative;
}

.cart-widget .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #dc3545;
  color: white;
  border-radius: 50%;
  padding: 0.3rem;
  font-size: 0.8rem;
}

.login-btn {
  color: #fff;
  font-size: 1rem;
  border: 1px solid #007bff;
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #007bff;
  color: #fff;
}

/* Media Queries */
@media (max-width: 720px) {
  .navbar-nav {
    text-align: center;
    margin: 0;
  }

  .navbar-collapse {
    background-color: #1a1a1a;
    padding: 1rem 0;
  }

  .cart-icon-container,
  .login-container {
    position: absolute;
    top: 10px;
  }

  .cart-icon-container {
    right: 15px;
  }

  .login-container {
    right: 60px; /* Ajuste a posição do botão de login ao lado do ícone do carrinho */
  }

  .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}
