.titulo-homepage {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  color: white;
  margin: 20px;
}

.texto-homepage {
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  color: white;
  margin: 20px;
}

.carousel {
  max-height: 500px;
  margin: 20px;
}

.carousel img {
  object-fit: cover;
  max-height: 300px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.carousel .btn {
  margin-top: 10px;
}

.btn-saiba-mais {
  width: 70%;
  margin: 10px auto;
  padding: 8px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn-saiba-mais:hover {
  background-color: rgb(8, 6, 129);
  color: #fff;
}
